<!-- Sidebar -->
<div id="sidebar-nav">
	{% if record.image!="" %}
	<div class="sidebar-img">
		<a class="fancybox" href="{{ image(record.image) }}">
	        <img src="{{ thumbnail(record.image, 245, 185 ) }}" class="img-responsive">
	    </a>
	</div>

	{% endif %}
	<div class="section-aside">
		<h3>Pages</h3>
		<ul>
			<li><a href="http://tensitron.com">Home</a></li>
			<li><a href="operating-instructions">Operating Instructions</a></li>
			<li><a href="our-story">About Us</a></li>
			<li><a href="service">Service</a></li>
			<li><a href="contact-us">Contact Us</a></li>
			<li><a href="international-distributors">International Distributors</a></li>
		</ul>
	</div>
	
	<hr class="dashed"/>

	<div class="section-aside">
		<div class="testimonial-random">
			{% setcontent records = "testimonials/random/1" %}

	        {% for record in records %}
			<blockquote>
			  	<p>{{ record.body }}</p>
		          	<footer><cite>{{ record.title }}</cite></footer>
			</blockquote>
	          

	     {% endfor %}
		</div>
	</div>
</div>
<div id="sidefoot"></div>

<!-- End Sidebar -->
