
    <form class="navbar-form pull-right" method="get" action="{{ paths.root }}search" id="searchform" enctype="text/plain">
        <input type="search" class="search-query form-control empty"value="{{ search }}" placeholder="&#xF002;" name="search">
    </form>


