<div id="services" class="container-fluid hidden-xs">
  <div class="row" style="margin-top: -75px;margin-bottom:25px;">
	<div class="col-md-3  col-sm-6 service">
		<figure id="order-now">
			<a href="contact-us"></a>
		 
			<figcaption>
			
				<h3>Order Now</h3>
				<br />
				<footer>Order yours today!</footer>
				
			</figcaption>
		</figure>

    </div>
	<div class="col-md-3  col-sm-6 service">
		<figure id="tech">
			<a href="service"></a>
			
			<figcaption>
			
    			<h3>Technical Support</h3>
				<footer>Get Started</footer>

			</figcaption>
		</figure>
    </div>
    <div class="col-md-3  col-sm-6 service">
		<figure id="customer">
			<a href="contact-us"></a>
			
			<figcaption>
				
			 <h3>Customer Service</h3>
				<footer>Click Here</footer>
				
			</figcaption>
		</figure>

    </div>
	
	<div class="col-md-3  col-sm-6 service">
		<figure id="repair">
			<a href="service"></a>
			
			<figcaption>
			
				<h3>Instrument Service and Repair</h3>
				
			</figcaption>
		</figure>
    	
    </div>
  </div>

</div>